<div id="debt-collective-header"></div>
<script>;Vue.component(DebtCollectiveHeader.name,DebtCollectiveHeader);new Vue({el:'#debt-collective-header',render:function(h){return h('debt-collective-header',{attrs:{
          'header-links': [
            { href: 'https://tools.debtsyndicate.org/dispute-tools', text: 'Dispute Your Debt' },
            { href: 'https://community.debtsyndicate.org/c', text: 'Collectives' },
            { href: '/', text: 'The Power Report' },
          ],
          'dropdown-links': [
            { href: '#events', text: 'Events' }
          ],
          'discourse-endpoint':'https://community.debtsyndicate.org'}})}});</script>
