<header class="SiteHeader SiteHeader__hero" role="banner">
  <div class="SiteHeader__tag">The latest from</div>
  <div class="SiteHeader__title tight">The Power Report</div>
  <div class="SiteHeader__stroke stroke"></div>
    

  <div class="SiteHeader__nav">
    <a href="#news-analysis" class="btn btn-outline-white">News Analysis</a>
    <a href="#special-reports" class="btn btn-outline-white">Special Reports</a>
    <a href="#member-profiles" class="btn btn-outline-white">Member Profiles</a>
    <a href="#podcast" class="btn btn-outline-white">Podcast</a>
  </div>
</header>