<header class="SiteHeader SiteHeader__small" role="banner">
  <h3 class="SiteHeader__title tight">The Power Report</h3>

  <div class="SiteHeader__nav d-none d-sm-none d-md-none d-lg-inline-block">
    <a href="#news-analysis" class="btn btn-outline-white">News Analysis</a>
    <a href="#special-reports" class="btn btn-outline-white">Special Reports</a>
    <a href="#member-profiles" class="btn btn-outline-white">Member Profiles</a>
    <button type="button" class="btn btn-outline-white" data-component-toggle>
      More
      <i class="fas fa-angle-down"></i>
    </button>
  </div>

  <div class="SiteHeader__sections d-inline-block d-lg-none">
    <button type="button" class="btn btn-outline-white" data-component-toggle>
      Sections
      <i class="fas fa-angle-down"></i>
    </button>
  </div>
</header>