.News {
  &__news-analysis {
    font-size: $font-size-base * 3.75;
    color: $dc-red;
    padding-top: $font-size-base;
    padding-left: $font-size-base * 1.5;
    padding-right: $font-size-base * 1.5;
    @include only-less-medium() {
      margin: auto;
      padding-left: $font-size-base * 0.5;
      padding-right: $font-size-base * 0.5;
    }
  }

  &__header,
  &__content {
    @include only-large() {
      margin-left: 8rem;
    }
    @include only-medium() {
      margin-left: 2rem;
    }
    @include only-small() {
      margin-left: 1rem;
    }
    @include only-x-small() {
      margin-left: 0.5rem;
    }
    max-width: 37.5rem;
  }

  &__header {
    @include only-small() {
      margin-top: 2rem;
    }
    @include only-x-small() {
      margin-top: 2rem;
    }

    margin-top: 7rem;
    .News {
      &__title {
        margin-bottom: 1rem;
        &-strike {
          padding-right: 1.125rem;
        }
      }
    }
  }

  &__title {
    &-strike {
      font-size: 2rem;
      text-decoration: line-through $dc-red;
      line-height: 0;
      &-content {
        font-size: 1.125rem;
        vertical-align: middle;
      }
    }
  }

  &__meta {
    margin-top: 1rem;
  }
  &__date {
    font-weight: 600;
    font-size: $h6-font-size;
  }
  &__lifted-from {
    font-size: $font-size-sm;
    padding-left: 3rem;
    @include only-less-small() {
      padding-left: 0;
      padding-top: 0.125rem;
      display: block;
    }
  }

  &__content {
    margin-top: 4rem;
    mark {
      background-color: $ex-yellow-tint;
      padding: 0;
    }

    aside {
      @mixin aside-width-pos-l-m() {
        transform: translateY(-4rem);
        position: absolute;
        max-width: 20rem;
      }
      @include only-large() {
        @include aside-width-pos-l-m();
        left: 50rem;
      }
      @include only-medium() {
        @include aside-width-pos-l-m();
        left: 41rem;
      }

      @include only-less-medium() {
        margin-bottom: 3rem;
        margin-top: 1rem;
      }

      font-weight: 600;
      font-size: $font-size-sm;
      padding-right: 2rem;
      &::before {
        position: absolute;
        transform: translateY(-1.5rem);
        padding-left: 1.5rem;
        content: "DEBT COLLECTIVE";
        color: $dc-red;
        background-image: url($star-url);
        background-repeat: no-repeat;
      }
    }

    &.copy {
      p {
        line-height: 1.7;
        font-size: $font-size-sm;
      }
    }
  }
}
